.workplace img{
  width: 60px;
  height: 60px;
  object-fit: contain;
  background-color: ghostwhite;
  border-radius: 12px;
}
.workplace .first{
  border: 1px solid gray !important;
  border-radius: 12px !important;
}