.workplace{
  min-height: 266px;
}
.workplace img{
  width: 60px;
  height: 60px;
  object-fit: contain;
  background-color: ghostwhite;
  border-radius: 12px;
}
.workplace .first{
  border: 1px solid gray !important;
  border-radius: 12px !important;
  transition: all 0.3s ease-in-out;
}

.first:hover{
  transform: scale(1.02);
}